<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" >{{ observable | async }}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="'/cart'">Shopping Cart</a>
  </li>
  <ng-template #anonymousUser>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="'/login'">Login</a>
    </li>
  </ng-template>
  <li ngbDropdown class="nav-item dropdown" *ngIf="authService.user$ | async as user; else anonymousUser">
    <a ngbDropdownToggle class="nav-link dropdown-toggle" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">{{user.displayName}}</a>
    <div ngbDropdownMenu class="dropdown-menu">
      <a class="dropdown-item" >My Orders</a>
      <ng-template [ngIf]="isAdmin | async">
        <a class="dropdown-item" routerLink="/admin/orders">Manage Orders</a>
        <a class="dropdown-item" routerLink="/admin/products" >Manage Products</a>
      </ng-template>
        <a class="dropdown-item" (click)="onLogoutClick()" >Logout</a>
    </div>
  </li>
</ul>
