<div class="container">
  <button class="btn btn-primary" routerLink="/admin/products/new">New Product</button>
  <!-- Filter products -->
  <div class="form-group">
    <label for="exampleInputEmail1"></label>
    <input (keyup)="onSearchChange(query.value)" #query type="text" class="form-control" id="exampleInputEmail1" placeholder="Search...">
  </div>

  <!-- Display products -->
  <table class="table table-primary table-striped">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of filteredItems">
        <td>{{ i.title }}</td>
        <td>{{ i.price | currency }}</td>
        <td><a [routerLink]="i.key">EDIT</a></td>
      </tr>
    </tbody>
  </table>
</div>

